body {
    background: #da3347;
}
h1 {
    font-family: 'Ultra', serif;
    font-size: 8em;
    text-align: center;
    text-decoration: underline;
    margin: .5em 2em 0em 2em;
}
h1:hover {
    color: #efd31a;
    text-decoration: #efd31a dotted underline;
}
#marty-robbins {
    width: 50em;
    height: 50em;
    margin: 0em 19em 0em 19em;
}